#bars{
		float: right;
		line-height: 50px;
			cursor: pointer;
			display: none;
			margin-right: 15px;
		}

.nav-bar{
			background:rgba(0,0,0,0);
			height: 50px;
			line-height: 50px;
            border-bottom:1px solid grey;
		}

#first-list{
			list-style: none;
			padding: 0;
			margin: 0px 0px 0px 50px;
			float: left;
		}

#first-list li{
			display: inline-block;
		}

#second-list{
			list-style: none;
			padding: 0;
			margin: 0;
			float: right;
			display: block;
		}
		
		#second-list li{
			display: inline-block;
			cursor: pointer;
            margin-right:45px;
		}
		
		#second-list li a{
			text-decoration: none;
            color:black;
            font-weight:bold;
            -webkit-transition:color .75s ease;
            -moz-transition:color .75s ease;
            -o-transition:color .75s ease;
            transition:color .75s ease;
		}
    
    #second-list li a:hover{
    color:#228B22;
    }

.parent{
			border-top: .777px solid gray;
			background-color: azure;
			text-align: center;
			height: 150px;
			line-height: 50px;
			display: none;
			width:100%;
			box-sizing: border-box;
		}

.parent{
    display:none;
    }

#third-list{
			list-style: none;
			float: none;
			text-align: center;
	        margin: 0;
	        padding: 0;
		}
		
		#third-list li{
			cursor: pointer;
			text-align: center;
		}
		
		#third-list li a{
			text-decoration: none;
            color:black;
            font-weight:bold;
		}
/*---------------------------------------- media-screen:640px--------------------------------------------*/

