 .nav-bar{
			background:rgba(0,0,0,0);
			height: 50px;
			line-height: 50px;
            border-bottom:1px solid grey;
		}
    
    @font-face{
     font-family:OpenSans-Regular;
     src:url('OpenSans-Regular.ttf');
    }
		    
		#first-list{
			list-style: none;
			padding: 0;
			margin: 0px 0px 0px 50px;
			float: left;
		}
		
    .parent{
    display:none;
    }
    
		#first-list li{
			display: inline-block;
		}
	
		#second-list{
			list-style: none;
			padding: 0;
			margin: 0;
			float: right;
			display: block;
		}
		
		#second-list li{
			display: inline-block;
			cursor: pointer;
            margin-right:45px;
		}
		
		#second-list li a{
			text-decoration: none;
            color:black;
            font-weight:bold;
            -webkit-transition:color .75s ease;
            -moz-transition:color .75s ease;
            -o-transition:color .75s ease;
            transition:color .75s ease;
		}
    
    #second-list li a:hover{
    color:#228B22;
    }
		
		#bars{
		float: right;
		line-height: 50px;
			cursor: pointer;
			display: none;
			margin-right: 15px;
		}

.parent{
    display:none;
    }


#main-header{
background:url('savorhome.jpg') no-repeat top;
background-size:cover;
}

#frst-row{
margin:15em 0em 0em 0em;
text-align:center;
}

#sec-row{
margin:5em 0em 11.9em 0em;
text-align:center;
}

#frst-para{
    font-size:50px;
    color:white;
    letter-spacing:2px;
    word-spacing: 1px;
    font-family:OpenSans-Regular;
    }

#read{
    width: 150px;
        height: 50px;
        background: none;
        outline: none;
        border: 1px solid white;
        color: white;
        font-weight: 400;
        font-size: 25px;
        cursor: pointer;
        border-radius: 5px;
        line-height:0;
    -webkit-transition:opacity 0.75s ease-in-out;
    -o-transition:opacity 0.75s ease-in-out;
    -moz-transition:opacity 0.75s ease-in-out;
    transition:opacity 0.75s ease-in-out;
    }
    
    #read:hover{
    opacity: 0.5;
            transition: 0.3s ease-in-out;
            outline: none;
    }


/*********************************Max-width:1024px***********************************/

@media (max-width:1024px){

#read:hover{
    opacity: 1;
            outline: none;
    }

 
}

/*********************************Max-width:768px***********************************/

@media (max-width:768px){

    #frst-para{
    font-size:35px;
    }
    
}



/*********************************Max-width:640px***********************************/

@media (max-width:640px){
    
     #first-list{
    margin:10px 0px 0px 10px;
    }

#third-list{
			list-style: none;
			float: none;
			text-align: center;
	        margin: 0;
	        padding: 0;
		}
		
		#third-list li{
			cursor: pointer;
			text-align: center;
		}
		
		#third-list li a{
			text-decoration: none;
            color:black;
            font-weight:bold;
		}
    
     #bars{
				display: block;
			}
			
			.nav-bar{
				line-height: 0;
			}
			
			#second-list{
				display: none;
			}
    
    .parent{
			border-top: .777px solid gray;
			background-color: azure;
			text-align: center;
			height: 150px;
			line-height: 50px;
			display: none;
			width:100%;
			box-sizing: border-box;
		}
}

/*********************************Max-width:480px***********************************/

@media (max-width:480px){

 #frst-para{
    font-size:30px;
    }
    
    #read{
    width: 100px;
        height: 40px;
        background: none;
        outline: none;
        border: 1px solid white;
        color: white;
        font-weight: 400;
        font-size: 15px;
        cursor: pointer;
        border-radius: 5px;
        line-height:0;
    }
    
    #read:hover{
    opacity: 1;
            outline: none;
    }
    
}

/*********************************Max-width:320px***********************************/